body {
    text-align: center;
}

#tocToggle:hover {
    text-decoration: underline;
}

#tocContent {
    text-align: left
}

.seats .column {
    margin: 10px;
}

#boys {
    background-color: #569daf;
    border: 3px solid;
    font-size: 2em;
}

#girls {
    background-color: #cac726;
    border: 3px solid;
    text-align: center;
    font-size: 2em;
}